.swiper {
    width: 100%;
    height: 700px; // фиксированная высота
  }
  
  .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    background-position: center;
    background-size: cover;
  }
  .swiper-button-next {
    color: red !important;
    svg{
      display: none;
    }
  }
